<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head.ejs')%>

        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../components/nav.ejs')%>
        <div class="container mt-5">

            <h1>Welcome to About Page</h1>
            <div class="container">
                <div class="title text-center">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, qui.</p>
                </div>
            </div>
        </div>
</body>

</html>